html {
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

nav ol li {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;

}

nav ol li a {
  color: #8f2440;
}

figure figcaption {
  font-style: italic;
}

dt {
  font-weight: bold;
}

p:nth-last-of-type(3){
  font-weight: bold;
  font-family: "PT Serif", serif;
}

p:nth-last-of-type(1+2) {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}
